<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
      <img src="{{macro.img}}" title="{{macro.name}}" height="64" width="64"/>
      <h1><input name="name" type="text" value="{{macro.name}}" placeholder="Name" disabled/></h1>
  </header>

  <div class="form-group">
    <label>Scope</label>
    <select name="scope" disabled>
        {{#select data.scope}}
        {{#each macroScopes}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>Type</label>
    <select name="type" disabled>
        {{#select data.type}}
        {{#each macroTypes}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

  <div class="form-group stacked command">
      <label>Command</label>
      <textarea name="command">{{macro.command}}</textarea>
  </div>

  <footer class="sheet-footer flexrow">
      <button type="submit"><i class="fas fa-save"></i> {{ localize "MACRO.Save" }}</button>
  </footer>
</form>
